* {
   
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(232, 231, 231);
   
}
.siteadi a{
    font-size: 2rem;
    color: black;

}